
body{
  background-color: rgb(199, 199, 199);
  // for popup noscroll 
}

// footer to bottom
.body , html{
  height: 100%;
  min-height: 100vh;
  font-size: 14px;
  @include md{
    font-size: 16px;
  }
}
.header , footer {
  flex-grow: 0;
}
.main{
  flex-grow: 1;
  overflow: hidden;
}

.footer-to-bottom{
  max-width: 1400px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 0;
  position: relative;
  background-color: #fff; 
}

html , body{
  margin: 0;
  padding: 0;
  font-family: 'Brandon', sans-serif !important;
}

* {
  box-sizing: border-box;
}

ul{
  list-style: none;
  padding: 0;
}
button{
  border: 0;
  background: transparent;
  color: inherit;
  font-weight: inherit;
  padding: 0;
  margin: 0;
  line-height: 1;
}
a{
  text-decoration: none;
  color: inherit;
}

figure{
  margin: 0;
  padding: 0;
  font-size: 0;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
h2{
  margin-bottom: 0 !important;
  line-height: 1 !important;
}

input::-webkit-calendar-picker-indicator {
  opacity: 0;
}
.border-accent{
  border: 1px solid $accentColor;
}

.arrow-down{
  position: relative;
  &::after{
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%) rotate(45deg);
    border-right: 1px solid $accentColor;
    border-bottom: 1px solid $accentColor;
    height: 12px;
    width: 12px;
    margin-top: -2px;
    transition: all .5s ease-in-out;
    cursor: pointer;
    pointer-events: none;
  }
}
.arrow-down-icon{
  position: relative;
  &::after{
    content: "";
    position: absolute;
    top: 10px;
    right: 20px;
    height: 25px;
    width: 12px;
    margin-top: -2px;
    transition: all .5s ease-in-out;
    cursor: pointer;
    pointer-events: none;
    background-image: url(../images/icons/icon-down-arrow-accent.png);
    background-repeat: no-repeat;
  }
}
.custom-radio [type="radio"]:checked,.custom-radio [type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
.custom-radio [type="radio"]:checked + .custom-radio-label,.custom-radio [type="radio"]:not(:checked) + .custom-radio-label {
  position: relative;
  padding: 4px 0 4px 38px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  margin-bottom: 4px;
}

.custom-radio [type="radio"]:checked + .custom-radio-label:before,.custom-radio [type="radio"]:not(:checked) + .custom-radio-label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 26px;
  height: 26px;
  border: 1px solid $accentColor;
  border-radius: 100%;
  background: $secondColor;
}

.custom-radio [type="radio"]:checked + .custom-radio-label:after,.custom-radio [type="radio"]:not(:checked) + .custom-radio-label:after {
  content: '';
  width: 10px;
  height: 10px;
  background: $accentColor;
  position: absolute;
  top: 8px;
  left: 8px;
  border-radius: 100%;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
.custom-radio [type="radio"]:not(:checked) + .custom-radio-label:after {
  opacity: 0;
  transform: scale(0);
}
.custom-radio [type="radio"]:checked + .custom-radio-label:after {
  opacity: 1;
  transform: scale(1);
}

.bg {
  &-accent {
    background: $accentColor !important;
  }
  &-second{
    background: $secondColor;
  }
  &-transparent{
    background: transparent;
  }
  &-hover-accent-05{
    transition: .4s;
    &:hover{
      background: rgba($accentColor, .5);
      color: white;
    }
  }
}
.fill{
  &-accent{
    fill: $accentColor;
  }
}
.color{
  &-accent{
    color: $accentColor !important;
    &::placeholder{
      color: $accentColor !important;
    }
  }
  &-white{
    color: white !important;
  }
  &-second{
    color: $secondFont !important;
  }
  &-lg-accent{
    @include lg{
      color: $accentColor !important;
    }
  }
  &-gray{
    color: $grayColor;
  }
}

.br-accent{
  border-right: 1px solid $accentColor;
}
.bb-white{
  border-bottom: 1px solid white;
}
.bb-accent{
  border-bottom: 1px solid $accentColor !important;
}
.border-2{
  border-width: 2px;
}

.lh-1-4{
  line-height: 1.4;
}
.lh-1-5{
  line-height: 1.5 !important;
}
.lh-2{
  line-height: 2;
}

.wrap-pop-up{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  max-height: 700px;
  margin: auto;
  &.cancel{
    display: none;
  }
  p{
    line-height: 2;
  }
}
.pop-up{
  padding: 30px 30px 40px 55px;
  background-color: rgba($accentColor, .7);
  max-width: 700px;
  margin: 150px auto 0;
  position: relative;
  z-index: 2;
  color: white;
}
.link{
  position: relative;
  text-transform: uppercase;
  border-bottom: 2px solid $accentColor;
  padding-bottom: 5px;
  text-decoration: none;
  color: $accentColor;
  transition: .4s;
  font-weight: 800;
  &::after{
    transition: .4s;
    position: relative;
    font-size: 0;
    line-height: 1;
    content: "\2192";
    opacity: 0;
  }
  &:hover{
    color: $accentColor;
    &::after{
      opacity: 1;
      font-size: 16px;
      margin-left: 10px;
    }
  }
  &.modified{
    border-color: white;
    color: white;
    &:hover{
      color: white;
    }
  }
}

.title{
  padding-left: 20px;
  margin-left: -15px;
  border-left: 7px solid $accentColor;
  color: $accentColor;
  margin-bottom: 30px;
  h2{
    font-size: 30px;
    font-weight: 700;
    @include sm{
      font-size: 40px;
    }
  }
  .link{
    text-transform: none;
    border-bottom: 2px solid transparent;
    &:hover{
      border-bottom: 2px solid $accentColor;
      &::after{
        font-size: 35px;
        line-height: 1;
      }
    }
  }
  a{
    color: $accentColor;
    text-decoration: none;
  }
  span{
    text-transform: uppercase;
    font-size: 16px;
    display: block;
    font-weight: 600;
    margin-bottom: 10px;
    letter-spacing: 2px;
    @include lg{
      font-weight: 700;
    }
  }
  &.modified{
    color: white;
    border-left: 7px solid white;
    a{
      color: white;
    }
    .link{
      &:hover{
        border-color: white;
      }
    }
  }
}
.title-link{
  .link{
    text-decoration: none;
    border-bottom: 2px solid transparent;
    text-transform: none;
    padding-bottom: 0;
    &:hover{
      border-bottom: 2px solid #2e697f;
    }
  }
  &.modified{
    .link{
      color: white;
      &:hover{
        border-bottom: 2px solid white;
      }
    }
  }
}
.z-i--2{
  position: relative;
  z-index: -2;
}
.z-i-1{
  position: relative;
  z-index: 1;
}
.z-i-2{
  position: relative;
  z-index: 2;
}
.z-i-sm-2{
  @include sm{
    position: relative;
    z-index: 2;
  }
}
.z-i-5{
  position: relative;
  z-index: 5;
}
.guests{
  display: none;
  position: absolute;
  z-index: 5;
  left: 8px;
  width: 100%;
}

.fs-12{
  font-size: 12px;
}
.fs-14{
  font-size: 14px;
}
.fs-16{
  font-size: 16px !important;
}
.fs-18{
  font-size: 18px !important;
}
.ff-acaslonpro-italic{
  font-family: 'ACaslonPro-Italic', sans-serif !important;
}
.letter-spacing-2{
  letter-spacing: 2px;
}
.h-430{
  height: 430px;
}
.mh-320{
  max-height: 320px;
}
.mw-150{
  max-width: 150px !important;
  margin: 0 auto;
}
.signature.mw-400{
  max-width: 400px !important;
}
.mw-400{
  max-width: 400px !important;
  margin: 0 auto;
}
.mw-500{
  max-width: 500px !important;
  margin: 0 auto;
}
.mw-600{
  max-width: 600px !important;
  margin: 0 auto;
}
.mw-lg-600{
  @include lg{
    max-width: 600px !important;
    margin: 0 auto;
  }
}
.mw-650{
  max-width: 650px !important;
  margin: 0 auto;
}
.mw-lg-650{
  @include lg{
    max-width: 650px !important;
    margin: 0 auto;
  }
}

.mw-700{
  max-width: 700px !important;
  margin: 0 auto;
}
.mw-lg-750{
  @include lg{
    max-width: 750px !important;
    margin: 0 auto;
  }
}
.mw-1000{
  max-width: 1000px !important;
  margin: 0 auto;
}
.mw-1100{
  max-width: 1100px !important;
  margin: 0 auto;
}
.mw-xl-1100{
  @include xl{
    max-width: 1100px !important;
    margin: 0 auto;
  }
}
.mw-xxl-1100{
  @include xxl{
    max-width: 1100px !important;
    margin: 0 auto;
  }
}
.mw-1200{
  max-width: 1200px !important;
  margin: 0 auto;
}
.mw-1300{
  max-width: 1300px !important;
  margin: 0 auto;
}

.mw-xl-1300{
  @include xl{
    max-width: 1300px !important;
    margin: 0 auto;
  }
}
.mw-xxl-1300{
  @include xxl{
    max-width: 1300px !important;
    margin: 0 auto;
  }
}

.pb-230{
  padding-bottom: 230px !important;
}
.pb-lg-130{
  padding-bottom: 1rem;
  @include lg{
    padding-bottom: 130px !important;
  }
}
.m-mobile-auto{
  @media screen and(max-width: 991px){
    margin: auto;
  }
}
.mb--50{
  margin-bottom: -50px !important;
}
.mb-sm--50{
  @include sm{
    margin-bottom: -50px !important;
  }
}
.mb-lg--70{
  @include lg{
    margin-bottom: -70px !important;
  }
}
.mb-lg--100{
  @include lg{
    margin-bottom: -100px !important;
  }
}
.mb-30{
  margin-bottom: 30px;
}
.mb-lg--50{
  @include lg{
    margin-bottom: -50px;
  }
}
.mb-60{
  margin-bottom: 60px;
}
.mb-lg-5r{
  @include lg{
    margin-bottom: 5rem !important;
  }
}
.mt--25p{
  margin-top: -25%;
}
.mt--50{
  margin-top: -50px;
}
.mt-lg--15p{
  @include lg{
    margin-top: -15% !important;
  }
}
.mt-lg--18p{
  @include lg{
    margin-top: -18% !important;
  }
}
.mt--200{
  margin-top: -200px;
}
.mt-lg--60{
  @include lg{
    margin-top: -60px;
  }
}
.ml-lg--140{
  @include lg{
    margin-left: -140px;
  }
}
.mr--130{
  margin-right: -130px;
}
.mr-xl--130{
  @include xl{
    margin-right: -130px;
  }
}
.position-sm-relative{
  @include sm{
    position: relative !important;
  }
}

.transition-04{
  transition: .4s;
}



.close-pop-up {
  position: absolute;
  z-index: 3;
  right: 22px;
  top: 22px;
  width: 17px;
  height: 17px;
  background-color: transparent;
  border: 0;
  &:hover:before, &:hover:after {
    background-color: red;
  }
  &:before, &:after {
    transition: .3s;
    position: absolute;
    top: 0;
    left: 15px;
    z-index: 3;
    content: ' ';
    height: 17px;
    width: 2px;
    background-color: white;
  }
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }
}

.instagram{
  img{
    max-height: 210px;
    height: 100%;
    max-width: 210px;
    width: 100%;
  }
}
.btn-icon{
  color: $accentColor;
  font-weight: 800;
  text-transform: uppercase;
  margin-right: 30px;
  margin-bottom: 30px;

  img{
    max-height: 30px;
    margin-right: 10px;
  }
}
.btn-close-circle{
  margin: 0 auto -20px;
  display: block;
  width: 35px;
  height: 35px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid $accentColor;
  background-repeat: no-repeat;
  background-position: center;
  transition: .4s;
  background-image: url('../images/icons/icon-down-arrow-accent.png');
  &:hover{
    background-color: $accentColor;
    background-image: url('../images/icons/down-arrow-white.png');
  }
  &.active{
    background-image: url('../images/icons/icon-close-accent.png');
    &:hover{
      background-image: url('../images/icons/close-white.png');
    }
  }
}
.search-wrap{
  @include lg{
    background: rgba($secondColor, .8);
    .search{
      background-color: transparent;
    }
  }
}
.search{
  background: $accentColor;
  color: $secondColor;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 4;
  @include lg{
    position: static;
    color: $accentColor;
    background: rgba($secondColor, .5);
  }
  &.active{
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    display: block;
    margin: 0;
    .arrow-down:after{
      border-color: white;
    }
    .search-block{
      display: block;
      margin-bottom: 30px;
    }
    .btn-close{
      display: block;
      margin-left: auto;
      margin-right: 20px;
    }
    .guests{
      width: 100%;
    }
  }
  .btn-close{
    display: none;
  }
  .btn-search{
    @include lg{
      border: 1px solid $accentColor;
      color: $accentColor;
      background-color: transparent;
      &:hover{
        border: 1px solid white;
        color: white;
        background-color: $accentColor;
      }
    }
  }
  .search-block {
    display: none;
    @include lg {
      display: flex;
    }
  }
}
.search-bottom{
  .guests{
    @include lg{
      position: absolute;
      bottom: 0;
    }
  }
}

.text-block{
  font-size: 14px;
  @include sm{
    font-size: 16px;
  }
  .text{
    padding-left: 1rem!important;
    color: #4b4b4e;
    line-height: 2;
    p{
      margin-bottom: 0;
      &:last-child{
        margin-bottom: 20px;
      }
    }
  }
}

.signature{
  text-align: center;
  font-family: 'ACaslonPro-Italic', sans-serif !important;
  color: $accentColor;
  max-width: 350px !important;
  margin: 0 auto;
  font-size: 20px;
  @include lg{
    font-size: 26px;
  }
  p{
    margin-bottom: 10px;
  }
  picture{
    display: block;
    margin: 0 auto;
    max-width: 20px;
  }
}
.block-bg-white{
  &::after{
    @include lg{
      position: absolute;
      content: "";
      z-index: 1;
      width: 120%;
      max-height: 310px;
      height: 100%;
      background: white;
      bottom: -60px;
      left: -10%;
    }
  }
}
.block-bg-grey{
  position: relative;
  margin-left: auto;
  @include lg{
    margin-right: -60px;
    max-width: 500px;
  }
  picture{
    margin: 0 auto;
    img{
      width: 100%;
    }
    @include lg{
      max-width: 380px;
    }
  }
  &::after{
    @include lg{
      position: absolute;
      content: "";
      z-index: -1;
      max-width: 720px;
      width: 100%;
      max-height: 310px;
      height: 100%;
      background: $secondColor;
      bottom: -70px;
    }
  }
  &-big{
    position: relative;
    &::after{
      position: absolute;
      content: "";
      z-index: -1;
      width: 100%;
      height: 100%;
      background: $secondColor;
      bottom: -70px;
    }
  }
}
.block-with-img{
  picture{
    overflow: hidden;
    @include lg{
      height: 100%;
    }
    img{
      width: 100%;
      height: 100%;
    }
  }
}
figcaption{
  border-left: 3px solid $accentColor;
  padding-left: 10px;
  line-height: 1.1;
}
.img-hero{
  max-width: 485px;
  max-height: 485px;
}
.img-1{
  max-width: 740px;
  max-height: 710px;
}
.img-2{
  max-width: 380px;
  max-height: 470px;
}
.img-3{
  max-width: 875px;
  max-height: 395px;
}
.img-4{
  max-width: 205px;
  max-height: 250px;
}
.img-5{
  max-width: 412px;
  max-height: 485px;
}
.img-6{
  max-width: 400px;
  max-height: 265px;
}
.img-360x275{
  max-width: 360px;
  max-height: 275px;
}
.img-630x485{
  max-width: 630px !important;
  max-height: 485px !important;
}


.bg-full-mobile{
  @media screen and(max-width: 991px) {
    margin: 0;
    &:after{
      position: absolute;
      content: "";
      width: 300%;
      height: 100%;
      top: 0;
      left: -100%;
      right: -100%;
      background: $accentColor;
      z-index: -1;
    }
  }
}
.bg-full-mobile-second{
  @media screen and(max-width: 991px) {
    margin: 0;
    &:after{
      position: absolute;
      content: "";
      width: 300%;
      height: 100%;
      top: 0;
      left: -100%;
      right: -100%;
      background: $secondColor;
      z-index: -1;
    }
  }
}
.silverlake, .press{
  position: relative;
  margin-right: 8px;
  &:after{
    position: relative;
    content: "";
    top: 0;
    left: 0;
    font-size: 10px;
    font-weight: 800;
    text-transform: uppercase;
    border: 1px solid $accentColor;
    padding: 2px 5px;
    @include md{
      font-size: 12px;
    }
  }
}
.silverlake{
  &:after{
    content: "SILVERLAKE";
  }
}
.press{
  &:after{
    content: "PRESS";
  }
}

.price{
  @include md{
    font-size: 20px;
  }
}
.form-control:focus ~ .invalid-feedback{
  opacity: 0 !important;
}
.SwiperResale{
  position: relative;
  .info{
    position: absolute;
    z-index: 2;
    content: "";
    top: 20px;
    left: 20px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    background: $accentColor;
    color: white;
    padding: 5px 10px;
    @include md{
      font-size: 20px;
    }
  }
}
.btn-enquire{

}
.sale{
  border-bottom: 2px solid $accentColor;
  &:last-child{
    border-bottom: none;
  }
  .price{
    color: $accentColor;
  }
}
.sold{
  border-bottom: 2px solid $accentColor;
  &:last-child{
    border-bottom: none;
  }
  .title{
    border-left: 7px solid $soldColor;
    color: $soldColor;
  }
  .price{
    color: $soldColor;
  }
  .btn-enquire{
    display: none;
  }
  .info{
    background: $soldColor;
  }
}
#tabList{
  button.active{
    color: white !important;
    background: $accentColor !important;
  }
}
.faqs{
  color: $grayColor;
  .title{
    margin-bottom: 3rem;
    margin-left: 0;
  }
  .faqs-block{
    border-bottom: 1.2px solid $accentColor;
    margin-bottom: 20px;
  }
  ul{
    p{
      margin-left: -2rem;
      margin-bottom: 0;
    }
  }
  li{
    list-style: disc;
  }
  a{
    font-weight: 700;
  }
  .faqs-wrap{
    padding: 5rem 0;
    background: white;
    h3{
      color: $accentColor;
      font-weight: 600;
      font-size: 20px;
    }
    a{
      color: $grayColor;
    }

    &:nth-child(even){
      background: $accentColor;
      color: white;
      .title{
        border-color: white;
      }
      a, .title, h3{
        color: white;
      }
      .faqs-block{
        border-color: white;
      }
    }
  }
}