$main-button: white;
$main-button-hover:rgb(9, 65, 9);
 button{
   cursor: pointer;
 }
.button{
  display: inline-block;
  padding: 10px 35px;
  letter-spacing: 1px;
  font-weight: 500;
  transition: .3s;
  text-transform: uppercase;
  cursor: pointer;

  border: 1px solid $main-button;
  color: $main-button;
  background-color: $accentColor;
  &.modified{
    border: 1px solid $accentColor;
    color: $accentColor;
    background-color: transparent;
    &:hover{
      border: 1px solid $main-button;
      color: $main-button;
      background-color: $accentColor;
    }
  }
  &:hover{
    color: $accentColor;
    background-color: $main-button;
  }
}

  
 


