@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
  url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Brandon";
  src: url("../fonts/brandon/Brandon_reg.otf");
  src: url("../fonts/brandon/Brandon_reg.eot?#iefix")format("embedded-opentype"),
  url("../fonts/brandon/Brandon_reg.woff") format("woff"),
  url("../fonts/brandon/Brandon_reg.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Brandon";
  src: url("../fonts/brandon/Brandon_med.otf");
  src: url("../fonts/brandon/Brandon_med.woff") format("woff"),
  url("../fonts/brandon/Brandon_med.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Brandon";
  src: url("../fonts/brandon/Brandon_bld.otf");
  src: url("../fonts/brandon/Brandon_bld.woff") format("woff"),
  url("../fonts/brandon/Brandon_bld.ttf") format("truetype");
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: "ACaslonPro-Italic";
  src: url("../fonts/ACaslonPro/FontsFree-Net-ACaslonPro-Italic.eot");
  src: url("../fonts/ACaslonPro/FontsFree-Net-ACaslonPro-Italic.eot?#iefix")format("embedded-opentype"),
  url("../fonts/ACaslonPro/FontsFree-Net-ACaslonPro-Italic.woff") format("woff"),
  url("../fonts/ACaslonPro/FontsFree-Net-ACaslonPro-Italic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}