$header-bgc: rgb(242, 250, 255);

.header{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 24px;
    color: #fff;

    z-index: 4;
    max-width: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    transition: 0.3s;
    height: 100px;
    @include sm{
        height: 130px;
    }
    @include md{
        padding-top: 20px;
        height: 150px;
        font-size: 16px;
    }
    @include xl{
        height: auto;
        padding-top: 50px;
        font-size: 13px;
        .menu-item.active{
            border-bottom: 1px solid white;
        }
    }
    @include xxl{
        font-size: 16px;
    }
    .container{
        max-width: 1400px;
    }
    svg{
        fill: white;
        width: 20px;
        margin-right: 10px;
        margin-top: -10px;
    }
    .cls-2{
        stroke: white;
    }
    a{
        text-decoration: none;
        color: #fff;
        &:hover{
            color: white;
        }
    }
    &-logo {
        width: 110px;
        margin: auto;
        @include sm{
            width: 145px;
        }
        .logo-white{
            display: block;
        }
        .logo-blue{
            display: none;
        }
        @include xl{
            margin: 0 auto;
        }
        img {
            object-fit: contain;
            width: 100%;
        }
    }
    &.scroll, &.fixed{
        .header-logo{
            margin-right: 0;
        }
        @include xl{
            padding-top: 15px;
            background: white;
            .container{
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: 1px solid $accentColor;
            }
            .menu-item.active{
                border-bottom: 1px solid $accentColor;
            }
            svg{
                fill: $accentColor;
            }
            .cls-2{
                stroke: $accentColor;
            }
            .header-logo{
                margin: 0;
                max-width: 85px;
                .logo-white{
                    display: none;
                }
                .logo-blue{
                    display: block;
                }
            }
            .wrap{
                display: flex;
                justify-content: space-between;
            }
            .nav{
                display: block;
                &-second{
                    position: static;
                }
            }
            li{
                &:hover{
                    border-bottom: 1px solid $accentColor;
                }
            }
            a{
                color: $accentColor;
            }
        }
    }
    &.fixed{
        @include xl{
            position: sticky;
        }
    }
}
.nav{
    opacity: 0;
    @include md{
        justify-content: center;
    }
    @include xl{
        opacity: 1;
    }
    li{
        margin: 0 10px 5px;
        transition: .3s;
        border-bottom: 1px solid transparent;
        &:hover{
            border-bottom: 1px solid white;
        }
        @include md{
            margin: 0 10px;
        }
    }
    &-second{
        font-size: 16px;
        svg{
            display: none;
            @include md{
                display: inline-block;
            }
        }
        @include xl{
            position: absolute;
            top: -20px;
            right: 20px;
        }
    }
 }
.close {
    position: absolute;
    left: 20px;
    top: 20px;
    max-width: 73px;
    min-width: 33px;
    width: 10vw;
    height: 50px;
    background-color: transparent;
    border: 0;
    &:hover {
        opacity: 1;
    }
    span{
        position: absolute;
        height: 2px;
        max-width: 73px;
        min-width: 33px;
        width: 10vw;
        top: 0;
        left: 0;
        background-color: white;
        transition: .3s;
        box-shadow: 0 1px 4px rgb(42 42 42 / 40%);
        &:before, &:after {
            position: absolute;
            left: 0;
            content: ' ';
            height: 2px;
            max-width: 73px;
            min-width: 33px;
            width: 10vw;
            background-color: white;
            transition: .3s;
            box-shadow: 0 1px 4px rgb(42 42 42 / 40%);
            @include sm{
                height: 4px;
            }
        }
        &:before {
            top: 15px;
            @include sm{
                top: 20px;
            }
        }
        &:after {
            top: 30px;
            max-width: 35px;
            min-width: 15px;
            width: 10vw;
            @include sm{
                top: 40px;
            }
        }
        @include sm{
            height: 4px;
        }
    }
    @include xl{
        display: none;
    }
}
.menu-blue{
    .close{
        span{
            background-color: $accentColor;
            &:before, &:after{
                background-color: $accentColor;
            }
        }
    }
    .logo-white{
        display: none;
    }
    .logo-blue{
        display: block;
        padding-top: 20px;
        width: 90px;
        @include sm{
            width: 130px;
        }
        @include xl{
            padding-top: 0;
        }
    }
    &.fixe{
        .logo-white{
            display: block;
        }
        .logo-blue{
            display: none;
        }
    }
}

.nav-open {
    height: 100vh !important;
    background: $accentColor;
    .container{
        padding-top: 70px;
    }
    .nav{
        opacity: 1;
    }
    .header-logo{
        display: none;
    }
    .close{
        span{
            top: 10px;
            transform: rotate(45deg);
            height: 3px;
            width: 20px;
            min-width: auto;
            box-shadow: none;
            &:before, &:after{
                top: 0;
                height: 3px;
                width: 30px;
                max-width: none;
                min-width: auto;
                box-shadow: none;
            }
            &:after {
                transform: rotate(-90deg);
            }
        }
    }
}