.hero{
  height: 100vh;
  max-height: 1000px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  &::after{
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    height: 50%;
    width: 100%;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(56,56,56,0.4) 47%, rgba(3,2,1,0.7273503151260504) 100%);
  }
}